body {
	background-color: #7cb4f6;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

img.deck1 {
	width: 88px;
	height: 120px;
	position: absolute;
	left: 10px;
	bottom: 257px;
}

img.deck2 {
	width: 88px;
	height: 120px;
	position: absolute;
	left: 18px;
	bottom: 257px;
}

img.deck3 {
	width: 88px;
	height: 120px;
	position: absolute;
	left: 26px;
	bottom: 257px;
}

img.deck5 {
	width: 88px;
	height: 120px;
}

img.deck6 {
	width: 88px;
	height: 120px;
}

#hole_card1 { 
	position: absolute;
	background-color: transparent;
	left: 26px;
	bottom: 257px;
    width: 88px;
    height: 120px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#hole_card1:hover { 
  border: 3px solid red; 
} 

.card1-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.card1-front, .card1-back {
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card1-front {
  transform: rotateY(180deg);
}

.card1-back {
  background-image: url('icons/cards/backs/red.png');
}

#hole_card2 { 
	position: absolute;
	background-color: transparent;
	left: 26px;
	bottom: 257px;
    width: 88px;
    height: 120px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#hole_card2:hover { 
  border: 3px solid red; 
} 

.card2-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.card2-front, .card2-back {
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card2-front {
  transform: rotateY(180deg);
}

.card2-back {
  background-image: url('icons/cards/backs/red.png');
}

#hole_card3 { 
	position: absolute;
	background-color: transparent;
	left: 26px;
	bottom: 257px;
    width: 88px;
    height: 120px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#hole_card3:hover { 
  border: 3px solid red; 
} 

.card3-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.card3-front, .card3-back {
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card3-front {
  transform: rotateY(180deg);
}

.card3-back {
  background-image: url('icons/cards/backs/red.png');
}

.btn-bot {
   background-color: #4CAF50; /* Green */
   position: absolute; 
   margin-left: -50px;
   left: 50%;
   width: 150px;
   bottom: 5%;
}


